.container {
   width: 1200px;
   margin: auto;
}
.heading {
   font-size: 24px;
   font-weight: 600;
   line-height: 32px;
   color: #474747 ;
}

.PList {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
}
.ourPromiseContainer {
    margin-bottom: 64px;
}

@media screen and (max-width: 420px) { 
   .container {
      width: 100%;
   }
   .PList {
      flex-direction: column;
      gap: 0px;
   }
   .heading  {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -2%;
      margin: 0px 24px;
      margin-bottom: 24px;
   }
   .ourPromiseContainer {
      margin-bottom: 50px;
   }

}